.example-icon {
  padding: 0 14px;
}
*,
::after,
::before {
  box-sizing: content-box !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
